body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Thover {
  font-family: "Bebas Neue", cursive;
  font-size: large;

  display: block;
  text-decoration: none;
}

.Thover:hover {
  font-size: 140%;
  color: rgba(10, 9, 1, 0.685);
}

.fbg {
  background-color: cornflowerblue;
  position: sticky;
  top: 0;
}
.sname {
  font-family: "Bangers", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Fredoka One", cursive;
  color: rgb(31, 1, 7);
  
}


.head-1 {
  height: 90vh;
  width: 90vw;
  
  
}

/*Contact Us CSS start*/

/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
} */
.contactus-body{
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .contactus-container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.contactus-container .contactus-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactus-container .contactus-content .contactus-left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.contactus-content .contactus-left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.contactus-content .contactus-left-side .details{
  margin: 14px;
  text-align: center;
}
.contactus-content .contactus-left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.contactus-content .contactus-left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.contactus-content .contactus-left-side .details .text-one,
.contactus-content .contactus-left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.contactus-container .contactus-content .contactus-right-side{
  width: 75%;
  margin-left: 75px;
}
.contactus-content .contactus-right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.contactus-right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.contactus-right-side .input-box input,
.contactus-right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.contactus-right-side .message-box{
  min-height: 110px;
}
.contactus-right-side .input-box textarea{
  padding-top: 6px;
}
.contactus-right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.contactus-right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .contactus-container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .contactus-container .contactus-content .contactus-right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .contactus-container{
    margin: 40px 0;
    height: 100%;
  }
  .contactus-container .contactus-content{
    flex-direction: column-reverse;
  }
 .contactus-container .contactus-content .contactus-left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .contactus-container .contactus-content .contactus-left-side::before{
   display: none;
 }
 .contactus-container .contactus-content .contactus-right-side{
   width: 100%;
   margin-left: 0;
 }
}
/*Contact Us CSS end*/


